+++
title = "AEMS"
linkTitle = "AEMS"

+++

{{< blocks/cover title="Authorization-Enhanced Mail System" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://iam.umabox.org/auth/realms/demo/protocol/openid-connect/auth?client_id=account">
		Sign up to demo! <i class="fas fa-sign-in-alt ml-2 "></i>
	</a>
	<p class="lead mt-5">AEMS helps organizations take control of email through the use of advanced authorization mechanism <a href="https://en.wikipedia.org/wiki/User-Managed_Access" style="color:rgb(113, 255, 160)">User-Managed Access</a> (UMA). Each email consists of resources (message and attachments) stored in an UMA Mailbox, protected by the UMA protocol. This architecture increases the robustness and performance of the existing mail system. From the user's point of view, AEMS looks like a standard mail system. People can use AEMS to store and exchange messages, documents, images, audios and videos.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section color="secondary" >}}
{{% blocks/feature icon="fab fa-docker" title="Get Docker image!" %}}
<a href="https://hub.docker.com/repository/docker/1token/email-service">Docker Hub</a>
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Clone, build, deploy!" %}}
<a href="https://github.com/uma-email">Repositories on GitHub</a>
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" %}}
<a href="https://twitter.com/umabox">Stay up to date with our latest news</a>
{{% /blocks/feature %}}


{{< /blocks/section >}}